  <!--footer-->
  <div class="welcome footer">
    <div class="container">
      <div class="col-md-4 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
        <h3>Review</h3>
        <p>Sed ut turpis elit ullamcorper in auctor non, accumsan vel lacus nulla auctor cursus nunc. Maecenas ultricies dolor in urna tempus, id egestas erat finibus  interdum lectus eget scelerisque.</p>
      </div>
      <div class="col-md-3 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
        <h3>Contact Me</h3>
        <p>111-2nd Avenue Canada.<br>
          New York City USA.<br>
          Office : +00 111 1111 111<br>
          Support to : <a href="mailto:info@example.com">mail@example.com</a>
        </p>
      </div>
      <div class="col-md-5 footer-grids wow fadeInRight animated" data-wow-delay=".5s">
        <h3>Newsletter</h3>
        <form>
          <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="clearfix"> </div>
      <div class="footer-copy wow slideInUp animated" data-wow-delay=".5s">
        <p>© 2016 Scrutiny. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
      </div>
    </div>
  </div>
  <!--//footer-->
