  <!--slid-->
  <div class="slid">
    <div class="container">
      <h3 class="wow slideInDown animated" data-wow-delay=".5s"><%= t "slid.title"%><br>
        <%= t "slid.workdays"%><br>
        <%= t "slid.weekends"%><br>
        <span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777 </h3>
      <p class="wow fadeInUp animated" data-wow-delay=".5s"><%= t "slid.description"%></p>
    </div>
  </div>
  <!--//slid-->